html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 50px;
    align-items: center;
    background-color: #55595E;
    height: 100vh;
}

.game-container h1 {
    margin: 0;
    color: white;
    font-size: 42px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
    justify-items: center;
    align-items: center;
    margin: 20px;
}

.score-container {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    align-items: center;
}

.score-container button {
    padding: 10px 24px;
    border-radius: 10px;
    background-color: #5990DE;
    color: white;
    border: 1px solid black;
}

.game-cell {
    border: 1px solid #342F26;
    border-radius: 5px;
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: #342F26;
    background-color: #DEB059;
    position: relative;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.message {
    display: none;
}
